<div class="container col-md-12 col-xl-6">
    <div class="search">
        <input type="text" class="form-control col-md-20" id="location" placeholder="enter location">

    </div>
    <button type="submit" class="btn btn-primary col-md-2 col-xl-3">Submit</button>
</div>

<div class="cards">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Date</h4>
                    <h6 class="text-right"><i class="fa fa-calendar f-left"></i><span></span></h6>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Time</h4>
                    <h6 class="text-right"><i class="fa fa-clock-o f-left"></i><span></span></h6>
                </div>
            </div>
          </div>
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Sunrise</h4>
                    <h6 class="text-right"><i class="fa fa-tint f-left"></i><span></span></h6>
                </div>
            </div>
          </div>
    
          <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Sunset</h4>
                    <h5 class="text-right"><i class="fa fa-tint f-left"></i><span>Today</span></h5>
                </div>
            </div>
          </div>
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h4 class="m-b-20">Temperature</h4>
                    <h6 class="text-right"><i class="fa fa-tint f-left"></i><span></span></h6>
                </div>
          </div>
        </div>
  
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-yellow order-card">
            <div class="card-block">
              <h4 class="m-b-20">Humidity</h4>
              <h6 class="text-right"><i class="fa fa-tint f-left"></i><span></span></h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-pink order-card">
            <div class="card-block">
              <h4 class="m-b-20">Rain</h4>
              <h6 class="text-right"><i class="fa fa-tint f-left"></i><span></span></h6>
            </div>
          </div>
        </div>
  
        <div class="col-md-4 col-xl-3">
          <div class="card bg-c-blue order-card">
            <div class="card-block">
              <h4 class="m-b-20">Pressure</h4>
              <h6 class="text-right"><i class="fa fa-tachometer f-left"></i><span></span></h6>
            </div>
          </div>
        </div>
      </div>

      
</div>
<hr class="line">